h1 {
  margin-bottom: 20px;
  font-size: 36px;
  color: #f1c40f;
}

.gameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 20px;
  position: relative;
}

/* GameInfo placé absolument à droite sans gêner le Board */
.gameInfoWrapper {
  position: absolute;
  top: 40px;
  right: 200px;
  z-index: 10;
}
